:root {
  --primary--color: #ff5b2e;
  --background--color--1: #fff6ed;
  --background--color--2: #fffaf5;
  --white--color: #fff;
  --text--color: #656689;
  --heading--color: #000958;
}
* {
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}
input,
textarea,
select,
button {
  font-family: inherit;
}
a {
  text-decoration: none;
}
.container {
  width: 1440px;
  max-width: calc(100% - 270px);
  margin: 0 auto;
}
.btn--primary {
  background-color: var(--primary--color) !important;
  color: var(--white--color) !important;
}
.btn {
  --height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  min-width: 193px;
  height: var(--height);
  border: 1px solid #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
  font-weight: 500;
  line-height: var(--height);
  color: var(--primary--color);
  cursor: pointer;
}
.btn:hover {
  border: none;
  background: var(--primary--color);
  color: var(--white--color);
}
.section-heading {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: var(--heading--color);
}
.section-desc {
  margin-top: 24px;
  font-weight: 400;
  line-height: 1.88;
  color: var(--text--color);
}
