/* Header */
.header {
  position: sticky;
  top: -0;
  z-index: 99;
  padding: 26px 0 40px;
  background-color: var(--background--color--2);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  gap: 36px;
}
.navbar__item:hover .navbar__link {
  opacity: 0.8;
  text-decoration: underline;
}
.navbar__link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}
.navbar__link--active {
  font-weight: 600;
  color: #000958;
}
.header-action:hover .header-action__btn {
  border: none;
  background: #000958;
  color: var(--white--color);
}
.header-action__btn {
  --height: 50px;
  min-width: 117px;
  height: var(--height);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #000958;
  border: 1px solid rgba(0, 9, 88, 0.7);
  border-radius: 25px;
  box-shadow: none;
}
/* Hero */
.hero {
  padding: 60px 0 100px;
  background: var(--background--color--2);
}
.hero__body {
  display: flex;
  align-items: center;
  gap: 120px;
}
.hero__media {
  flex-grow: 1;
  padding-bottom: 94px;
  position: relative;
}
.hero__img {
  object-fit: cover;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  display: block;
  border: 3px solid #ffffff;
  z-index: 1;
  position: relative;
  box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
}
.hero__img:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 36px;
  width: 186px;
  height: 244px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}
.hero__decor:nth-last-of-type(2) {
  position: absolute;
  top: 17px;
  right: 123px;
}
.hero__decor:nth-last-of-type(1) {
  position: absolute;
  bottom: 104px;
  left: -58px;
}
.hero__content {
  width: 41%;
  flex-shrink: 1;
}
.hero__heading {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: var(--heading--color);
}
.hero__desc {
  margin: 24px 0 38px;
  font-weight: 400;
  line-height: 1.88;
}
.hero__row {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__btn {
  --height: 60px;
  min-width: 189px;
  font-weight: 600;
  height: var(--height);
  line-height: var(--height);
  background: var(--primary--color);
  color: var(--white--color);
}
.hero__btn:hover {
  opacity: 0.8;
}
.hero__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}
.hero__schedule {
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
  color: #000958;
}
/* Hero list */
.hero__list {
  position: absolute;
  bottom: 0;
  right: 171px;
  z-index: 2;
  width: 250px;
  height: 156px;
  padding: 18px 14px;
  background: var(--white--color);
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}
.hero-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-item__separate {
  margin: 20px 0;
  display: block;
  border-radius: 99px;
  height: 2px;
  background: #f2f2f2;
}
.hero-item__thumb {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}
.hero-item__tittle {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.4;
  line-height: 1;
  color: #181e52;
}
.hero-item__skeleton:first-of-type {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}
.hero-item__skeleton:last-of-type {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}
/* About */
.about {
  background: var(--background--color--2);
  padding: 38px 0 130px;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 146px;
  align-items: center;
}
/* About content */

.about__media {
  position: relative;
}
.about__label {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
}
.about__heading {
  margin-top: 15px;
}
.about__heading,
.about__desc {
  width: 444px;
}
.about__checklist {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 54px;
  column-gap: 36px;
  row-gap: 34px;
  justify-content: flex-start;
}
.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}
.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--primary--color);
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}
.about__check-item::after {
  position: absolute;
  left: 6px;
  top: 5px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 7px;
  border-left: 2px solid #fff2e5;
  border-bottom: 2px solid #fff2e5;
  rotate: -45deg;
}
.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  text-align: center;
  width: 136px;
  padding: 31px 26px 29px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  z-index: 2;
}
.about__card-tittle {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  color: var(--white--color);
}
.about__card-desc {
  margin-top: 14px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}
.about__card-decor {
  position: absolute;
  right: -32px;
  top: -40px;
}
.about__img-wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}
.about__img-wrap::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 494px;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
  border-radius: 16px;
  inset: auto 0 0 0;
}
.about__img {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 450px;
  z-index: 1;
}
.about__media-decor {
  position: absolute;
  right: -50px;
  top: 157px;
}
.about__img-wrap-bottom {
  margin-left: 0;
  width: 458px;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}
.about__img-wrap-bottom::after {
  content: none;
}
.about__img-bottom {
  width: 100%;
}
.about__decor-img {
  position: absolute;
}
.about__decor-img:first-child {
  top: 12px;
  left: 389px;
}
.about__decor-img:nth-child(2) {
  top: -16px;
  left: 426px;
}
.about__decor-img:nth-child(3) {
  top: 33px;
  left: 426px;
}
.about__decor-img:nth-child(4) {
  top: 260px;
  left: 468px;
}
.about__decor-img:nth-child(5) {
  top: 336px;
  left: 427px;
}
.about__decor-img:nth-child(6) {
  top: 435px;
  left: 377px;
}

.about__desc-bottom {
  width: 511px;
  margin-bottom: 50px;
}

.tab__list {
  position: relative;
  display: inline-flex;
  gap: 56px;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  background: var(--primary--color);
  opacity: 0.07;
  border-radius: 1px;
}
.tab__item--active::after {
  width: 95px;
  opacity: 1;
}
.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 14px;
  cursor: pointer;
}
.tab__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
}
.tab__title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}
.tab__contents {
  padding-top: 36px;
}
.tab__content-item {
  display: none;
}
.tab__content-item--active {
  display: block;
}
.tab__content-desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  width: 391px;
}
.tab__content-more {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: 32px;
  font-weight: 500;
  line-height: 1;
  color: var(--primary--color);
}
.tab__content-more::after {
  height: 1.5px;
  opacity: 1;
}
.tab__content-more:hover {
  opacity: 0.6;
}
/* Service */
.service {
  padding: 68px 0 100px;
  background: var(--background--color--1);
}
.service__top {
  text-align: center;
}
.service__desc {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
  margin-bottom: 15px;
}
.service__content {
  margin-top: 71px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 64px;
}
.service__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.service-item {
  padding: 30px 28px;
  width: 294px;
  background: var(--white--color);
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}
.service-item__heading {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
}
.service-item__heading::before {
  content: "";
  display: inline-block;
  height: 22px;
  width: 2px;
  background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
  border-radius: 1px;
}
.service-item__desc {
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
}
.service-item__more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}
.service-item__more::after {
  content: url(/assets/img/ArrowUpRight.svg);
  display: inline-block;
  width: 12px;
  height: 12px;
}

.service__media {
  position: relative;
  margin-top: 20px;
}
.service__media::after {
  content: "";
  position: absolute;
  height: 350px;
  right: 16px;
  left: 16px;
  bottom: 0;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}
.service__img {
  display: block;
  position: relative;
  width: 100%;
  height: 593px;
  z-index: 1;
}
.service__cta-wrap {
  text-align: center;
  margin-top: 21px;
}
.service__cta {
  min-width: 214px;
}
/* Staff */
.staff {
  padding: 130px 0;
  background: var(--background--color--2);
  text-align: center;
}
.staff__desc {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
}
.staff__heading {
  margin-top: 15px;
}
.staff__list {
  margin-top: 59px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}
.staff-item {
  text-align: center;
}
.staff-item:nth-child(1) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
  background-image: url(/assets/img/staff-decor-1.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
  background-image: url(/assets/img/staff-decor-2.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
  background-image: url(/assets/img/staff-decor-3.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
  background-image: url(/assets/img/staff-decor-4.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
  background-position: 0 16px;
}
.staff-item__img-wrap {
  position: relative;
  border-radius: 130px;
  margin: 0 16px;
}

.staff-item__img-wrap::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: inline-block;
  height: 94%;
  border-radius: inherit;
}
.staff-item__img-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: calc(100% + 46px);
  background-size: 100%;
}

.staff-item__img {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  height: 290px;
  width: 100%;
  display: block;
  border-radius: inherit;
}
.staff-item__title {
  margin-top: 29%;
  font-weight: 400;
  font-size: 1.4;
  line-height: 1;
}
.staff-item__name {
  margin-top: 14px;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
}
.staff__cta-wrap {
  margin-top: 48px;
}
/* Pricing */
.pricing {
  padding: 86px 0;
  background: var(--background--color--1);
  text-align: center;
}
.pricing__container {
  width: 994px;
}
.pricing__desc {
  max-width: 709px;
  margin: 24px auto 38px;
}
.pricing__switch-wrap {
  display: flex;
  justify-content: center;
}

.pricing__switch-label {
  position: relative;
  padding: 0 40px;
  width: 276px;
  height: 56px;
  border: 1px solid #ff5b2e99;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}
.pricing__switch-label::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--primary--color);
  width: 140px;
  height: 100%;
  border-radius: inherit;
  bottom: 0;
  left: 0;
}
.pricing__switch-value {
  position: relative;
  z-index: 1;
  font-weight: 500;
  line-height: 1;
  color: var(--white--color);
}
.pricing__switch {
}
.pricing__switch-input {
  display: none;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
  left: auto;
  right: 0;
  width: 131px;
}
.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(1) {
  color: var(--primary--color);
}
.pricing__switch-inner {
  position: relative;
}
.Pricing__sale-off {
  position: absolute;
  top: -10px;
  right: -112px;
}
.pricing__list {
  text-align: left;
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
}
.pricing-item {
  border-radius: 20px;
  background: var(--white--color);
  padding: 30px 28px 43px;
  transition: 0.3s;
}
.pricing-item:nth-of-type(2) {
  box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}
.pricing-item:hover {
  box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
  transform: translateY(-20px);
}
.pricing-item__type {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--primary--color);
}
.pricing-item__heading {
  margin-top: 8px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #3f4065;
}
.pricing-item__price {
  margin-top: 24px;
  font-family: "Sora";
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.03;
  color: #000958;
}
.pricing-item__btn {
  margin-top: 22px;
  background: var(--white--color);
  box-shadow: none;
  height: 44px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  border-radius: 39px;
  width: 100%;
}
.pricing-item__list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.pricing-item__item {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  display: flex;
  align-items: center;
}
.pricing-item__item::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(/assets/img/pricing-item.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 12px;
}
.pricing-item__item:nth-of-type(4) ~ .pricing-item__item::before {
  opacity: 0.4;
}
/* Review */
.review {
  padding: 104px 0 60px;
  background: var(--background--color--2);
}
.review__inner {
  display: flex;
  align-items: center;
  gap: 44px;
}
.review__control {
  margin-top: -56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  outline: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  background: transparent;
  color: var(--primary--color);
}
.review__control:hover {
  color: var(--white--color);
  background: var(--primary--color);
  border-color: var(--primary--color);
  box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
  cursor: pointer;
}
.review__content {
  flex-grow: 1;
  overflow: hidden;
}
.review__list {
  display: flex;
}
.review-item {
  display: flex;
  align-items: center;
  gap: 115px;
  flex-shrink: 0;
  width: 100%;
}
.review-item__media {
  margin-top: -52px;
  position: relative;
  flex-shrink: 0;
  width: 274px;
  border-radius: 137px;
}
.review-item__media::after {
  content: "";
  display: inline-block;
  position: absolute;
  inset: auto 0 0 0;
  height: 82%;
  background: #ffda54;
  border-radius: inherit;
}
.review-item__img {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  border-radius: inherit;
}
.review-item__content {
  margin-top: 28px;
}
.review-item__quote {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #000000;
}
.review-item__author {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 34px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
}
.review-item__author::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #000000;
}
.review__dots {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.review__dot {
  width: 8px;
  height: 8px;
  border: 1px solid var(--primary--color);
  border-radius: 50%;
  border-radius: 4px;
}
.review__dot:hover {
  cursor: pointer;
  background: var(--primary--color);
}
.review__dot--active {
  width: 24px;
  background: var(--primary--color);
  border-radius: 4px;
}
/* Blog */
.blog {
  padding: 70px 0 131px;
  background: var(--background--color--2);
}
.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__info {
  margin-right: 73px;
  width: 350px;
}
.blog__desc {
  margin-top: 0;
}
.blog__cta {
  margin-top: 24px;
  min-width: 182px;
  box-shadow: none;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  margin-top: 54px;
}
.blog-item:nth-of-type(1) .blog-item__img-wrap {
  background: #90ccff;
}
.blog-item:nth-of-type(2) .blog-item__img-wrap {
  background: #ff997e;
}
.blog-item:nth-of-type(3) .blog-item__img-wrap {
  background: #5bd6e2;
}
.blog-item__img-wrap {
  padding: 24px 0 0 36px;
  border-radius: 24px;
}
.blog-item__time {
  display: inline-block;
  font-family: "Sora";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.21;
  color: var(--white--color);
  margin-bottom: 24px;
}
.blog-item__img {
  display: block;
  width: 100%;
  height: 290px;
  object-fit: cover;
}
.blog-item__info {
  padding: 28px 14px 0 0;
}
.blog-item__heading {
  font-family: "Sora";
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.55;
  color: #000958;
}
.blog-item__desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.61;
}
